.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# SPTING

!**/gradle/wrapper
!**/application.yml.bak
.idea/
gradlew
grablew.bat
/user-service/src/main/resources/application.properties
/authorization-service/gradle/
authorization-service/src/main/resources/application.yml.bak
gradle/wrapper
mail-service/src/main/resources/templates/mail-template.html
mail-service/src/main/resources/application.yaml.bak
gradle.properties
